@{
    ViewData["Title"] = "Home Page";
}
<head>
    <!-- firebase 불러오기 -->
    <script src="../../fb/conn.js"></script>
    <!-- firebase 불러오기 끝 -->
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Welcome to the gamble~~~</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>

    
</body>
