<head>
    
</head>
<body>
    <div style="text-align: center;">
        <table style="text-align: center; margin-left: auto; margin-right: auto;">
            <tr>
                <td class="input-board">
                    <input class="input_box" type="text" name="id" id="id" placeholder="아이디" required>
                </td>
                <td class="" >
                    <button class="" onclick="" >중복확인</button>
                </td>
            </tr>
            <tr>
                <td class="input-board">
                    <input class="input-box" type="password" name="pwd" id="pwd" placeholder="비밀번호" required>
                </td>
            </tr>
            <tr>
                <td class="input-board">
                    <input class="input-box" type="password" name="pwd" id="pwd" placeholder="비밀번호 확인" required>
                </td>
            </tr>
        </table>
    </div>
</body>