@{
    Layout=null;
    ViewData["Title"] = "main";
}
<head>
    <!-- Include CSS -->
    <link rel="stylesheet" type="text/css" href="/css/main.css" />

<!-- Include JQuery -->
    <script src="//code.jquery.com/jquery-3.4.1.min.js"></script>

    <!-- Include Javascript -->
    <script src="/js/main.js"></script>
    
    
    
    <!-- Connect firebase -->
    <script src="https://www.gstatic.com/firebasejs/8.6.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.2/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.2/firebase-database.js"></script>
    <script src="/fb/conn.js" type="text/javascript"></script>
    
   
    <style type="text/css">
        table {
            background:blue; 
            width:400px; 
            height:300px;
        }
        tr {
            background:white;
        }
        td {
            border: thick dotted #f44336;
        }
    </style>

</head>

<body>
    <div class="divv">
        <div class="left">
            <img class="profile" src="/image/person.png">
        </div>
        <div class="right">
            <div id="showId"><script>loginId()</script></div>
            <input type="text" class="" placeholder="닉네임">
            <button id="" onclick="">입력</button>
            <br>
            <div class="chean">
                <script>ratee()</script>
            </div>
        </div>
    </div>
    
</body>