body{
    background-color: black;
  }
    .player_board{
      position:absolute;
      bottom: 50px;
      left: 50%;
      width: 500px;
      height: 250px;
      background-color: #3EB489;
      border: 3px solid white;
      margin: 0% 0% 8% 0%;
      padding: 0px 30px 0px 30px;
    }
    .player_board div{
      margin-top: 30px;
      margin-right:-70px;
      width: 120px;
      height: 180px;
      float: left;
      font-size: 30pt;
    }
    .dealer_board{
      position:absolute;
      top: 50px;
      left: 50%;
      width: 500px;
      height: 250px;
      background-color: #3EB489;
      border: 3px solid white;
      margin: 8% 0% 0% 0%;
      padding: 0px 30px 0px 30px;
    }
    .dealer_board div{
      margin-top: 30px;
      margin-right:-70px;
      width: 120px;
      height: 180px;
      float: left;
      font-size: 30pt;
    }
    .show{
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -40px 0px 0px -125px;
      text-align: center;
    }