body{
    background: black;
    text-align: center;
    background-image: url("/image/index_background.png");
    background-repeat: no-repeat;
    background-size: auto;
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.login-form{
    align-items: center;
    margin-top: 150px;
}

#test{
    margin-left: 0px;
    text-align: left;
    color: white;
    width: 200px;
    height: 300px;
}

.input-board{
    width: 60px;
    height: 50px;
}

.input_box{
    border-radius: 4px;
    border: 0px;
    width: auto;
    height: 40px;
}

.login-Btn{
    width: 100px;
    height: 100px;
    border-radius: 4px;
    border: 0px;
}
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    background: white;
  }
  